* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: salmon;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #fff;
    padding: 30px;
    height: 10vh;
    /* display: grid; */
        
    text-align: center;
    font-size: 1.15rem;
    font-weight: bold;
    transition: all 900ms ease-in-out;
}

.header--start {
    height: 100vh;
}

.menu {
    height: 100%;
    display: grid;
    place-items: center;
    transition: opacity 500ms ease-in-out;
}

.menu--container {
    display: grid;
    grid-auto-rows: 100px;
    place-items: center;
}

.menu--inactive {
    opacity: 0;
}

.menu__button {
    background-color: #fff;
    border: none;
    font-size: 2rem;
    font-weight: inherit;

    padding: 15px;
    transition: transform 300ms ease;
}

.menu__button:hover, 
.menu__button:focus {
    transform: translate(-10px, -10px);
    outline: none;
}

/* SETTIN' MAX SCORE FIELD */
/* ---------------------- */
.scoreSetter {
    transition: opacity 500ms ease-in-out
}

.scoreSetter--inactive {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.scoreSetter__label {
    font-size: 1.5rem;
}

input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

label[for=scoreSetter] {
    display: block;
    margin-bottom: 20px;
}

#scoreSetter__field {
    border: none;
    border-bottom: 2px solid black;
    box-shadow: none;
    outline: none;
    padding-bottom: 5px;
    width: 100px;

    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 

}

#scoreSetter__field:focus {
    box-shadow: none;
}

.scoreSetter__button {
    border: none;
    background: url(img/right-arrow-1438234-1216195.png) no-repeat center/65%;
    width: 40px;
    height: 40px;
    transition: transform 50ms ease;
}

.scoreSetter__button:focus {
    outline: none;
    box-shadow: none;
    transform: translateX(5px)
}

.scoreSetter__button:active {
    box-shadow: none;
    outline: none;
    transform: translateX(5px)
}

.title {
    display: grid;
    place-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    /* background-color: red; */
}

.title__active {
    position: static;
    height: 5vh;
    transition: height 1100ms ease-in-out, opacity 300ms ease-in-out;
    opacity: 1;
}

.title--end {
    height: 100%;
    opacity: 1;
    transition: opacity 600ms ease-in-out;
}

.title--anim {
    opacity: 0;
}

.game--inactive {
    display: none;
}

.game--end {
    pointer-events: none;
}

.counter {
    border: 3px solid white;
    width: 175px;
    height: 75px;
    margin: 25px auto;
    padding: 15px;
    position: relative;

    color: white;
    text-align: center;
    font-size: 2rem;
}

.counter--inactive {
    display: none;
}

.counter__label {
    background-color: rgb(187, 0, 0);
    width: 55px;

    color: white;
    font-size: 0.85rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    position: absolute;
    top: 30%
}

.counter__label--comp {
    left: -30px;
}

.counter__label--user {
    right: -30px;
}

.container {
    margin: 0 auto;
    width: max-content;
    text-align: center;
    /* margin-top: 35px; */
}

.result {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 55px 0;
}

.options {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 30px;
    margin: 25px;
    justify-content: center;
}

.options--inactive {
    display: none;
}

.options__item {
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px;
    transition: transform 100ms ease;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.options__item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.options__item:active {
    transform: scale(1)
}